*, html{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}
body{
    background-color: #E0E0CE;
    /* background-image: url(./img/retrofuture.jpg); */
    font-family: 'Courier New', Courier, monospace;
    /* color:white; */
    padding:0;
    
}
figure{
    overflow: hidden;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.imgCont{
    
    text-align: center;
    height:100px;
    width:100px;
    border-radius: 50%;
    overflow:hidden;
    border:solid;
    border-color: white;
}
.profimage{
    /* border-radius: 50%; */
    width:100px;
    height:100px;
    object-fit:cover;
}
.fig1{
    top:42%;
    left:22%;
}
.fig1 img{
    width:100px
}
.fig2{
    top:58%;
    left:34%;
}
.fig2 img{
    width:100px
}
.fig3{
    top:12%;
    left:34%;
}
.fig3 img{
    width:100px
}
.fig4{
    top:27%;
    left:22%;
}
.fig4 img{
    width:100px
}
.prof{
    top:32%;
    left:55%
}
.section{
    height:100vh
}

header{
    display:block;
    background-color: #F2AF29;
    width:100%;
    height:8vh;
}
.userName{
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em; */
    padding-top: 1em;
    padding-left:.5em;
}
h3{
    position:absolute;
    top:90%;
    left:85%;
}
@media screen and (max-width:900px){
    figure{
        overflow: hidden;
        position: absolute;
        display:flex;
        flex-direction: column;
        align-items: center;
        /* color:white */
    }
    figcaption{
        font-size:25px
    }
    .fig1{
        top:50%;
        left:4%;
    }
    .fig1 img{
        width:50px;
    }
    .fig2{
        top:67%;
        left:22%;
    }
    .fig2 img{
        width:50px;
    }
    .fig3{
        top:12%;
        left:20%;
    }
    .fig3 img{
        width:50px;
    }
    .fig4{
        top:30%;
        left:8%;
    }
    .fig4 img{
        width:50px;
    }
    .prof{
        top:37%;
        left:57%
    }
    .imgCont{

        text-align: center;
        height:100px;
        width:100px;
        border-radius: 50%;
        overflow:hidden;
        border:solid;
        border-color: white;
    }
    .profimage{
        /* border-radius: 50%; */
        width:100px;
        height:100px;
        object-fit:cover;
    }
    h3{
        position:absolute;
        top:90%;
        left:50%;
    }
}